node_modules
build
temp
.cache
.parcel-cache
*.map
.vercel
.yarn/**
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.
dist
.pnp.*
.yarnrc.yml
tests/output
tests/repos
playwright-report
